body{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#00BCD4

}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
    background-color: rgba(255, 147, 147, 0.58)

}
aside{
    flex: 1;
    overflow-y: auto;
}
footer{
    background-color: black;
    color: white
}
img{
    width: 150px;
    height: 100px;
}